/* Font family to all fonts */
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

/* Header H1 */
h1 {
  color: blue;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

/* Header H2 */
h2 {
  font-size: 40px;
}

/* Header H3 */
h3 {
  font-size: 30px;
}

/* Header H4 */
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* for all paragraphs */
p {
  font-size: 22px;
  line-height: 1.5;
}

/*  */
li {
  font-size: 20px;
}

/* for footer */
footer p {
  font-size: 16px;
}

article header p {
  font-style: italic;
}
